.wrapper {
  margin: 40px 0;
}

.button {
  padding: 13px 144px;
  color: #fff;
  background: #007bff;
  border: 4px solid #0077f7;
  border-radius: 200px;

  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
}
.disabled {
  background: #ccd5dd;
  color: #254050;
}
